@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


$soft-primary: #84d197;
$primary: #00b207;
$hard-primary: #2c742f;
$medium-primary: #2B572E;
$warning: #ff8a00;
$danger: #ea4b48;
$white: #ffffff;
$soft-gray: #EDF2EE;
$gray: #222222;
$medium-gray: #aaaaaa;


$poppins: 'Poppins', sans-serif;